<!DOCTYPE html>
<html lang="en">
<%- include('./misc/head.ejs', { title: 'Cart - Cap&Sock' }); %>

<body class="min-vh-100 text-white">
    <%- include('./misc/header.ejs', { categories: [], id_category: 0 }); %>

    <main class="container mt-5">
        <div class="row d-flex justify-content-center  ">
            <div class="col-8 p-3">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-success">Tu Carrito</h3>
                        <hr class="border-success">
                    </div>

                    <div class="col-12">
                        <div id="cart-controls" class="d-flex gap-3 d-none">
                            <a class="d-inline-flex mb-3 text-danger nav-link align-items-center gap-1" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                                    <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793z"/>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg> Vaciar carrito
                            </a>

                            <a class="d-inline-flex mb-3 nav-link align-items-center gap-1" href="./home">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg> Seguir comprando
                            </a>
                        </div>
                    </div>
                
                    <div id="cart-container" class="col-12 px-4">
                        <div id="loading-spinner" class="d-flex justify-content-center my-5 d-none">
                            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                                <span class="sr-only invisible">Loading...</span>
                            </div>
                        </div>

                        <div id="cart-no-products" class="d-flex justify-content-center my-5 d-none">
                            <h4 class="text-success">Aún no hay agregados productos al carrito</h4>
                        </div>
                    </div>
                    
                    <div id="cart-footer" class="col-12">
                        <hr>

                        <div class="row">
                            <div class="col-12">
                                <p id="cart-total" class="text-success fw-bold fs-4 text-end d-none">Total: $0</p>
                                <hr class="text-success">
                            </div>

                            <div class="col-6">
                                <button id="btn-home" class="btn btn-dark w-100">Continuar comprando</button>
                            </div>

                            <div class="col-6">
                                <button id="btn-checkout" class="btn btn-success w-100 disabled">Finalizar compra</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('./misc/scripts.ejs', { js: ['tema.js', 'store.js'] }); %>
</body>
</html>

<style>

    #cart-container
    {
        display: block;
        min-height: 20vh;
    }

    .product-card
    {
        opacity: 1;
    }

    .fade-out
    {
        animation: fade-out 500ms ease forwards;
    }

    @keyframes fade-out
    {
        0% { opacity: 1; }
        100% { opacity: 0; display: none; }
    }

</style>