<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>LISTADO PRODUCTOS</h1>

    <!-- Prueba de listado de productos sin paginar -->
    <% for(let i = 0; i < data.length; i++) {%>
        <span><%= data[i].id %></span>
        <br>
        <span><%= data[i].title %></span>
        <br>
        <span><%= data[i].color %></span>
        <br>
        <span><%= data[i].category.name %></span>
        <hr>
    <% } %>

    <button id="boton">CLICK ME</button>
</body>

<script>

    window.addEventListener('load', function()
    {
        document.getElementById('boton').addEventListener('click', function()
        {
            console.log("click");
        })
    })

</script>

</html>