<!DOCTYPE html>
<html lang="en">
<%- include('./misc/head.ejs', { title: 'Welcome - Cap&Sock' }); %>

<body class="min-vh-100 text-white bg-success bg-gradient">
    <header class="text-center">
        <div class="container-fluid">
            <div class="row p-3 d-flex align-items-center">
                <div class="col-4 col-md-2">
                    <a href="/"><img src="/assets/img/favicon.svg" alt=""></a>
                </div>
                <div class="col-4 col-md-8">
                    <h1 class="h3 text-center flex-grow-1 m-0">Cap&Sock</h1>
                </div>
            </div>
        </div>
    </header>

    <main class="">
        <div class="container-sm text-success d-flex flex-column align-items-center justify-content-center position-absolute top-50 start-50 translate-middle gap-4">
            <img width="80" src="assets/img/favicon.svg" alt="">
            <form class="d-flex flex-column gap-5 bg-success-subtle bg-opacity-25 px-4 py-5 rounded-3">
                <h2 class="text-center text-uppercase">Bienvenido</h2>
                <div class="form-floating">
                    <input type="text" id="txtNombre" class="form-control text-success" placeholder="nombre" required>
                    <label for="floatingInput">Nombre</label>
                    <p class="text-danger fs-6" id="errorNombre"></p>
                </div>
                <button id="btnIngresar" class="btn btn-success">Ingresar</button>
            </form>
        </div>
    </main>

    <%- include('./misc/footer.ejs'); %>
    <%- include('./misc/scripts.ejs', { js: ['tema.js', 'welcome.js'] }); %>
</body>
</html>