@layer reset{
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4 {
        text-wrap: pretty;
        text-wrap: balance;
    }

    p,
    li {
        text-wrap: pretty;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }
}

@layer base {
    :root{
        /* typography */
        --ff-sans: "Fira Sans", sans-serif;
        --ff-sans-heading: "Outfit", sans-serif;
    }

    p, 
    span,
    li,
    label{
        font-family: var(--ff-sans) !important;
    }

    h1, 
    h2, 
    h3, 
    h4,
    button{
        font-family: var(--ff-sans-heading) !important;
    }
}

@layer components {
    .hover-scale:hover {
        transform: scale(1.03);
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 15px rgba(255,255,255,0.2);
    }

    .transition-all {
        transition: all 0.3s ease;
    }

    #temaFlotante {
        transition: all 0.3s ease;
        border: 2px solid transparent;
    }

    #temaFlotante:hover {
        transform: scale(1.1);
        border-color: rgba(255, 255, 255, 0.5);
    }
}