<footer class="w-100 p-3 position-fixed bottom-0">
    <span class="d-inline-block w-100 text-white">Programacion 3 - DIV 333 - Segundo Parcial</span>
    <span class="d-inline-block w-100 text-white">Tomás Blanco y Cristopher Jacob - Diciembre 2025</span>
</footer>